<!DOCTYPE html>
<html>

<head>
    <title>LOGs</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        .navbar-nav.navbar-center {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Hacklab Admin Panel</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Access control</a></li>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Wiki</a></li>
                <li class="active"><a href="log_viewer">Logs</a></li>

            </ul>
        </div>
    </nav>

    <div class="navbar navbar-inverse container">
        <ul class="nav navbar-nav navbar-center">

            {% if equipment == 'mill' %} <li class="active"> {% else %}
            <li> {% endif %}
                <a href="/log_viewer?equipment=mill">Mill</a></li>

            {% if equipment == 'lathe' %} <li class="active"> {% else %}
            <li> {% endif %}
                <a href="/log_viewer?equipment=lathe">Lathe</a></li>

            {% if equipment == 'laser' %} <li class="active"> {% else %}
            <li> {% endif %}
                <a href="/log_viewer?equipment=laser">Laser</a></li>

            {% if equipment == 'cnc' %} <li class="active"> {% else %}
            <li> {% endif %}
                <a href="/log_viewer?equipment=cnc">CNC</a></li>

            {% if equipment == 'big_cnc' %} <li class="active"> {% else %}
            <li> {% endif %}
                <a href="/log_viewer?equipment=big_cnc">Big CNC</a></li>

            {% if equipment == 'band_saw' %} <li class="active"> {% else %}
            <li> {% endif %}
                <a href="/log_viewer?equipment=band_saw">Band saw</a></li>

        </ul>

    </div>


    <div class="container">
        <div class="row">

            <div class="col-xs-4 col-sm-offset-4 text-center">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Nick</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Time</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for record in log_records %}
                        <tr>
                            {% for data in record %}
                            <td>{{data}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </div>

        </div>
    </div>

</body>

</html>