<!DOCTYPE html>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.js"></script>
    
    <script src="static/js/rfid.js"></script>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.css">
</head>

<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Hacklab Admin Panel</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Access control</a></li>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Wiki</a></li>
                <li><a href="log_viewer">Logs</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">Access control</h1>
                <div class="list-group">
                    <a href="/" class="list-group-item">MAC presence</a>
                    <a href="/rfid" class="list-group-item active">RFID monitor</a>
                </div>
            </div>


            <div class="col-lg-9">
                <!-- Table with database -->
                <div class="col-mt-3" style="margin: auto; margin-top: 1em; margin-bottom: 1em;">
                    <a class="btn btn-large btn-success" href="javascript:void(0);" onclick="javascript:introJs().start();">
                    I do not understand how to add new user!!!</a>
                </div>
                <div>
                    <table id="tblData" class="table table-bordered">
                        <thead>
                            <tr>
                                {% for column_name in column_names %}
                                    <th>{{column_name}}</th>
                                {% endfor %}
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody id="table_body">
                        {% for item in data %}
                            <!-- User information part -->
                            <tr>
                            {% for subitem in item[0] %}
                                <td>{{subitem}}</td>
                            {% endfor %}
                            <!-- Access information part -->
                            {% for subitem in item[1] %}                            
                             <td>
                             <!-- Value is encoded like: (x,y), where x - is index of access 
                             devices(door, cnc, etc), y - user ID value -->
                                <input type="checkbox" onChange='onCheckboxChange(this)' 
                                    name="accessBox" value={{loop.index - 1}},{{item[0][0]}}
                                    {% if subitem==1 %}checked{% endif %}>
                            </td>
                            {% endfor %}
                            <td>
                            <a class="btn btn-danger btn-sm" onclick="onDeleteClick({{item[0][0]}})"><i class="fa fa-trash-o"></i></a>  
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-mt-3">
                    <div class="well well-sm" data-step="1" 
                    data-intro="Latest used key on DOOR is shown here. Put new key to door reader and check modify datetime"
                    >Latest triggered door key: {{latest_key_info}}</div>
                    <div class="form-group" data-step="2" data-intro="Add this new key here.">
                        <label for="email">KEY Value:  </label>
                        <input type="text" class="form-control" id="user_key" placeholder="123ABC">
                    </div>
                    <div class="form-group" data-step="3" data-intro="Fill the nickname">
                        <label for="pwd">Nickname:  </label>
                        <input type="text" class="form-control" id="user_name" placeholder="Nickname">
                    </div>
                    <button type="submit" class="btn btn-default" onclick="addUser()" data-step="4" 
                    data-intro="Finish addition">Add user</button>
                    
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; Hacklab 2017</p>
    </footer>
</body>

</html>
